@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

:root {

    --very-dark-blue: hsl(243, 87%, 12%);
    --desaturated-blue: hsl(238, 22%, 44%);

    --bright-blue: hsl(224, 93%, 58%);
    --moderate-cyan: hsl(170, 45%, 43%);

    --light-grayish-blue: hsl(240, 75%, 98%);
    --light-gray: hsl(0, 0%, 75%);

    /* Containers Colors */

    /* Font Colors */

    /* Font Sizes */
    --title-size: 2.5rem;
    --subtitle-size: 1.875rem;
    --body-size: 1.125rem;
    --button-size: 0.9375rem;
    --second-body-size: 0.875rem;
    --title-card: 0.625rem;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

body {
    margin: auto;
    min-width: 23.4375rem;
    /* max-width: 1440px; */
    background: var(--light-grayish-blue);
}

.container {
    width: 90%;
    margin: auto;
    margin-top: 3.125rem;
    display: grid;
    gap: 1.25rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "header"
        "body-1"
        "body-2"
        "body-3"
        "footer";
    justify-content: center;
    align-content: center;

}

.header {
    /* background: red; */
    grid-area: header;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.container .header img {

    height: 3.125rem;
}

.header div nav {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.header div nav .nav-bar {
    /* background: yellow; */


    color: var(--very-dark-blue);
    text-decoration: none;
    color: black;
    padding: 1rem 0.25rem;
    flex-grow: 1;
    /* font-size: ; */
}

.header div nav .nav-bar:hover {
    background: white;
}

.body-1 {
    /* background: blue; */
    grid-area: body-1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.content-1 {
    width: 90%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    order: 2;


}

.content-1 h2 {
    font-size: var(--title-size);
}

.content-1 p {
    font-size: var(--body-size);
}

.content-1 h2,
.content-1 p {
    margin: 0.625rem;
    color: var(--very-dark-blue);
    min-width: 85%;
    max-width: 100%;
    text-align: center;

}

.content-1 p {
    line-height: 1.4375rem;
}

.content-1 form {
    margin: 0.625rem;
    min-width: 85%;

    display: flex;
    flex-flow: column nowrap;
}

.content-1 form input,
.content-1 form button {
    margin: 0.4375rem;
    height: 2.5rem;
}

.content-1 form input {
    border: none;
    border: 0.0625rem solid var(--desaturated-blue);
    border-radius: 0.25rem;
    padding-left: 1.875rem;
    color: var(--light-gray);

}

.content-1 form button {
    border: none;
    border-radius: 0.25rem;
    background: var(--bright-blue);
    color: var(--light-grayish-blue);
    font-size: var(--button-size);
    font-weight: bold;

}


.body-2 {
    /* background: yellow; */
    grid-area: body-2;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.content-2 {
    order: 2;
    width: 90%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.content-2 h2 {
    text-align: center;
    color: var(--very-dark-blue);
    margin-bottom: 1.25rem;
}

.content-2 p {
    text-align: justify;
    color: var(--desaturated-blue);
    line-height: 1.4375rem;
}

.content-2 .link {
    margin-top: 1.875rem;
    position: relative;

    height: 1.875rem;
    width: 11.25rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.0625rem solid var(--moderate-cyan);
}

.content-2 .link img {
    position: absolute;
    left: 85%;
    width: 1.875rem;

}

.content-2 .link a {
    text-decoration: none;
    color: var(--moderate-cyan);
}

.content-2 article {
    margin: 3.125rem;
    background: white;
    max-width: 90%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.content-2 .article-container {
    margin: auto;
    width: 80%;
    min-height: 18.75rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: flex-start;

}

.content-2 .article-container p {
    font-family: 'Open Sans', sans-serif;
    font-size: var(--second-body-size);
    color: var(--very-dark-blue);
}

.content-2 .article-container img {
    align-self: flex-start;
}

.content-2 .name {
    margin: 1.25rem 0;
    display: flex;
    flex-flow: row nowrap;

}

.content-2 .name img {
    margin-right: 0.9375rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1.25rem;
}

.content-2 .name p {
    font-size:var(--title-card);
}

.content-2 .name .title {
    font-size: var(--button-size);
    color: var(--very-dark-blue);
    font-weight: bold;
}

.body-3 {
    background: var(--desaturated-blue);
    grid-area: body-3;


}


.body-container {
    margin: 0 auto;
    min-width: 85%;
    max-width: 100%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 21.875rem;
}

.content-3 {

    width: 80%;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

}

.content-3 h3 {
    color: var(--light-grayish-blue);
    margin-bottom: 1.875rem;
    font-weight: bold;
    font-size: var(--subtitle-size);
}

.content-3 p {
    color: var(--light-grayish-blue);
    line-height: 1.4375rem;
}

.body-3 form {
    margin: 0.625rem 0;
    width: 80%;

    display: flex;
    flex-flow: column nowrap;

}

.body-3 form input,
.body-3 form button {
    margin: 0.4375rem;
    height: 2.5rem;
}

.body-3 form input {
    border: none;
    border: 0.0625rem solid var(--light-grayish-blue);
    border-radius: 0.25rem;
    padding-left: 1.875rem;
    color: var(--light-gray);

}

.body-3 form button {
    border: none;
    border-radius: 0.25rem;
    background: var(--bright-blue);
    color: var(--light-grayish-blue);
    font-size: var(--button-size);
    font-weight: bold;

}

.footer {
    background: var(--very-dark-blue);
    grid-area: footer;
    height: auto;
}

.footer-container {
    width: 90%;
    margin: auto;
}

.footer .icon-logo {
    margin-top: 3.125rem;

}


.footer a {
    text-decoration: none;
    color: var(--light-grayish-blue);
    margin-top: 0.9375rem;
}

.footer a:hover{
    color: var(--light-gray);
}

.footer .links {
    margin-top: 1.875rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.column-1,
.column-2,
.column-3,
.column-4 {
    margin-top: 1.5625rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.column-1 .contact {
    margin-top: 0.9375rem;
}

.illustration-1,
.illustration-2 {
    width: 21.875rem;
}


@media screen and (min-width: 29.6875rem) {

    .header div nav .nav-bar {
        /* background: yellow; */
        padding: 1rem 0.625rem;
    }

    .body-1{
        background-image: url(images/bg-curve-mobile.svg);
    }
    .content-1 form {
        min-width: 20rem;
    }

    .body-3 form {
        width: 20rem;
    }

}

@media screen and (min-width: 59.375rem) {




    .illustration-1,
    .illustration-2 {
        width: 37.5rem;
    }

    .illustration-2 {
        width: 34.375rem;
    }

    .body-1 {
        margin-top: 3.125rem;
        flex-flow: row nowrap;
        justify-content: space-between;
        background-image: url(images/bg-curve-desktop.svg);

    }

    .content-1 {
        order: 0;
        width: 50%;
        align-items: flex-start;
    }

    .content-1 h2,
    .content-1 p {

        text-align: left;

    }


    .body-2 {
        margin-top: 6.25rem;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
        
    }

    .content-2 {
        order: 0;
        width: 50%;
        align-items: flex-start;
    }

    .content-2 article {

        max-width: 22.5rem;
        height: 16.25rem;

    }

    .content-2 .article-container {
        margin: 0 0;
        justify-content: center;

    }

    .body-container {
        margin: auto;
        width: 90%;
        flex-flow: row nowrap;
        justify-content: flex-start;

    }
    
    .content-3 {
        width: 50%;
       
        justify-content: flex-start;
        align-items: flex-start;
    }

    .content-3 p {
        width: 80%;
    }

    .body-3 form {
        width: 50% ; 
        
    }

    .body-3 form input{ 
        justify-self: flex-start;
        width: 30rem;
        flex-grow: 1;
    }
    .body-3 form button{
        justify-self: flex-start;
        width: 13.125rem;
        
    }

    .footer {
        height: 21.875rem;
    }

    .footer .links {


        flex-flow: row nowrap;
        justify-content: space-between;
    }


    @media screen and (min-width: 90rem){
        .container {
            width: 80%;
            margin: auto;
            margin-top: 3.125rem;
        }
    }


}